<script id="expirationTemplate" type="x-template">
	<div class="container hidden-lg" style="margin-top:25px; margin-bottom:50px">
		<div id="smallBrand" class="col">

	  	</div> <!-- row -->
	</div> <!-- container -->

	<div class="container hidden-sm hidden-md" style="height: calc(100vh - 4rem); margin-top:25px; margin-bottom:100px;">
		<div id="largeBrand" class="row">

		</div> <!-- row -->
	</div> <!-- container -->

	<footer class="sticky" style="padding:10px 8px;">
		<h3 style="text-align:center"><span class="insertDate"><!-- Insert Date --></span><small>Today</small></h3>
	</footer>
</script>

<script id="expirationBrands" type="x-template">
	<div class="card fluid" style="margin-bottom:30px">
		<div class="section accent" style="text-align:center">
			<h1 class="insertBrand"><!-- Insert Brand --></h1>
		</div> <!-- section accent -->
		<div class="section" style="text-align:center">

			<code class="insertPull"><!-- Insert Pull Code --></code>

			<h2>
				<small>Will Expire On</small>
			</h2>
			<p class="insertExpirationDate"><!-- Insert Expiration Date --></p>
		</div>
	</div> <!-- card fluid -->
</script>

<script id="expirationJulianBrands" type="x-template">
	<div class="card fluid" style="margin-bottom:30px">
		<div class="section accent" style="text-align:center">
			<h1 class="insertBrand"><!-- Insert Brand --></h1>
		</div> <!-- section accent -->
		<div class="section" style="text-align:center">
			<h2>
				<small>Julian Date Range</small>
			</h2>
			<p class="insertJulian"><!-- Insert Julian Date --></p>

			<code class="insertPull"><!-- Insert Pull Code --></code>

			<h2>
				<small>Will Expire On</small>
			</h2>
			<p class="insertExpirationDate"><!-- Insert Expiration Date --></p>
		</div>
	</div> <!-- card fluid -->
</script>

<script id="expirationWeekBrands" type="x-template">
	<div class="card fluid" style="margin-bottom:30px">
		<div class="section accent" style="text-align:center">
			<h1 class="insertBrand"><!-- Insert Brand --></h1>
		</div> <!-- section accent -->
		<div class="section" style="text-align:center">
			<h2>
				<small>Week Range</small>
			</h2>
			<p class="insertWeekRange"><!-- Insert Week Range --></p>

			<code class="insertPull"><!-- Insert Pull Code --></code>

			<h2>
				<small>Will Expire On</small>
			</h2>
			<p class="insertExpirationDate"><!-- Insert Expiration Date --></p>
		</div>
	</div> <!-- card fluid -->
</script>
