<script id="expirationTemplate" type="x-template">
	<div class="container hidden-lg" style="margin-top:25px; margin-bottom:50px">
		<div id="smallBrand" class="col">

	  	</div> <!-- col -->
	</div> <!-- container -->

	<div class="container hidden-sm hidden-md" style="margin-top:25px; margin-bottom:50px;">
		<div id="largeBrand" class="row">

		</div> <!-- row -->
	</div> <!-- container -->
</script>

<script id="expirationBrands" type="x-template">
	<div class="card fluid" style="margin-bottom:30px">
		<div class="section accent">
			<h3 class="insertBrand"><!-- Insert Brand --></h3>
		</div> <!-- section accent -->
		<div class="section" style="text-align:center">

			<code class="insertPull"><!-- Insert Pull Code --></code>

			<h4>
				<small>Will Expire On</small>
			</h4>
			<p class="insertExpirationDate"><!-- Insert Expiration Date --></p>
		</div>
	</div> <!-- card fluid -->
</script>

<script id="expirationJulianBrands" type="x-template">
	<div class="card fluid" style="margin-bottom:30px">
		<div class="section accent" style="text-align:center">
			<h3 class="insertBrand"><!-- Insert Brand --></h3>
		</div> <!-- section accent -->
		<div class="section" style="text-align:center">
			<h4>
				<small>Julian Date Range</small>
			</h4>
			<p class="insertJulian"><!-- Insert Julian Date --></p>

			<code class="insertPull"><!-- Insert Pull Code --></code>

			<h4>
				<small>Will Expire On</small>
			</h4>
			<p class="insertExpirationDate"><!-- Insert Expiration Date --></p>
		</div>
	</div> <!-- card fluid -->
</script>

<script id="expirationWeekBrands" type="x-template">
	<div class="card fluid" style="margin-bottom:30px">
		<div class="section accent" style="text-align:center">
			<h3 class="insertBrand"><!-- Insert Brand --></h3>
		</div> <!-- section accent -->
		<div class="section" style="text-align:center">
			<h4>
				<small>Week Range</small>
			</h4>
			<p class="insertWeekRange"><!-- Insert Week Range --></p>

			<code class="insertPull"><!-- Insert Pull Code --></code>

			<h4>
				<small>Will Expire On</small>
			</h4>
			<p class="insertExpirationDate"><!-- Insert Expiration Date --></p>
		</div>
	</div> <!-- card fluid -->
</script>
